# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py~


# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.exe
*.dll
*.so
*.dylib
*.class

# Logs
*.log